aiofiles==0.5.0
altgraph==0.17
appdirs==1.4.4
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
distlib==0.3.1
fastapi==0.61.1
filelock==3.0.12
fonttools==4.14.0
future==0.18.2
h11==0.9.0
idna==2.10
pdf-annotate==0.11.0
pdfrw==0.4
pefile==2019.4.18
Pillow==7.2.0
pydantic==1.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
starlette==0.13.6
urllib3==1.25.10
uvicorn==0.11.8
virtualenv==20.0.33
websockets==8.1
